# JSON - Lab

## Introduction

In this lab, you'll practice navigating JSON data structures.

## Objectives
You will be able to:
* Use the JSON module to load and parse JSON documents

## JSON

### Open the dataset from json

In [1]:
#Your code here
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [2]:
### Your code here
type(data)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [3]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [4]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [6]:
# Your code here
data['meta']['view']['columns'][0]

{'id': -1,
 'name': 'sid',
 'dataTypeName': 'meta_data',
 'fieldName': ':sid',
 'position': 0,
 'renderTypeName': 'meta_data',
 'format': {},
 'flags': ['hidden']}

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a pandas DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [32]:
#Your code here
import pandas as pd
cols = [x['name'] for x in data['meta']['view']['columns']]
df = pd.DataFrame(data['data'], columns=cols)
df

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,281,C50E6A4C-BDE9-4F12-97F4-95D467013540,281,1315925633,392904,1315925633,392904,{\n},2001,537,"Wilson, John H",5,None,13,P,0,0,0,0
281,282,04C6D19F-FF63-47B0-B26D-3B8F98B4C16B,282,1315925633,392904,1315925633,392904,{\n},2001,559,"Wooten, Donald T",5,None,42,P,0,0,0,0
282,283,A451E0E9-D382-4A97-AAD8-D7D382055F8D,283,1315925633,392904,1315925633,392904,{\n},2001,280,"Yassky, David",5,None,33,P,75350.00,75350.00,0,150700.00
283,284,E84BCD0C-D6F4-450F-B55B-3199A265C781,284,1315925633,392904,1315925633,392904,{\n},2001,274,"Zapiti, Mike",5,None,22,P,12172.00,0,0,12172.00
284,285,5BBC9676-2119-4FB5-9DAB-DE3F71B7681A,285,1315925633,392904,1315925633,392904,{\n},2001,442,"Zett, Lori M",5,None,24,P,0,0,0,0

### What's wrong with the first row of the DataFrame?

In [30]:
#Your code here
df.meta.iloc[0]

'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

In [33]:
#Your answer here

# There's an error message in the data? There isn't the expected set of data found in all the
# other entries, and many of the entries are just the names of their respective columns.

## Summary

Congratulations! You've started exploring some more JSON data structures used for the web and got to practice data munging and exploring!